@tailwind base;
@tailwind components;
@tailwind utilities;

.fadeIn{
    opacity:0;
    animation: slidein 2s ease-in forwards;
}
@keyframes fadeIn{
    from {transform: translate("200px");}
    to {transform: translate("0");}
}
@keyframes rotation{
    0%{transform: rotate("0");}
    100%{transform: rotate("180deg");}
}
@keyframes slidein {
    from {
      opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.title .fadeIn:hover {
    color: orange;
}